# Data setup

In this notebook, we run all of the functions necessary for setting up the data that is later displayed on the website.

In [2]:
from helper_functions import setup
import numpy as np

## Sanitize player data

First, we simply load the responses and anonymize them.

In [5]:
df = setup.sanitize_and_anonymize_data(rerun=True, verbose=False)

print(f"{len(df)} entries, of which {np.sum(~df.is_postdoc)} are PhDs and {np.sum(df.is_postdoc)} are postdocs")
df.head(3)
# Conflicting sports
# np.sum(df["volleyball"] & df["basketball"])
# np.sum(df["football"] & df["tennis"])
# df[df["capture_the_flag"] & df["spikeball"]]["nickname"].tolist()

90 entries, of which 70 are PhDs and 20 are postdocs

,nickname,institute,is_postdoc,avail_monday,avail_tuesday,avail_thursday,avail_friday,wants_basketball,basketball,wants_running_sprints,...,spikeball,wants_beer_pong,beer_pong,wants_fooseball,fooseball,wants_ping_pong,ping_pong,num_sports,num_sports_not_avail,late_entry
0,Pushy Bulldog,MPE,False,True,True,True,True,False,False,True,...,True,False,False,False,False,True,True,5,0,False
1,Thankful Kakapo,MPE,False,True,True,True,True,False,False,True,...,True,True,True,True,True,True,True,7,0,False
2,Exemplary Cassowary,MPA,False,True,True,True,True,False,False,False,...,True,True,True,False,False,False,False,4,0,False